@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Reenie+Beanie&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 35px;
    font-family: 'Reenie Beanie', cursive;
    text-align: center;
    background-image: url('https://j.top4top.io/p_2827su4n11.jpg');
    background-size: cover;
    text-shadow: 15px;
    color: rgb(8, 6, 2);
    
}

header {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(0, 0, 0);
    padding: 15px;
    text-align: center;
    font-family: 'Reenie Beanie', cursive;
    font-size: 30px;
}




.button1 li {
    text-align: center;
    text-decoration: none;
    background-position: center;
    color: rgb(167, 0, 0);
    border-style: hidden;
    padding: 10px;
    margin: 15px;
    width: 40%;
    float: left;
    font-size: large;
}

.button2 li {
    text-align: center;
    text-decoration: none;
    background-size: cover;
    color: rgb(167, 0, 0);
    border-radius: 10px;
    justify-content: space-between;
    padding: 10px;
    margin: 15px;
    width: 40%;
    float: left;
    font-size: large;
    
}