@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Reenie+Beanie&family=Shadows+Into+Light&display=swap');

* {
    padding: 0;
    margin: 0;
}

.contact-section{
    background-image: url('https://f.top4top.io/p_2828e0xfn1.jpg');
    background-size: cover;
    padding: 40px 0;
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
}


.contact-section h1{
    text-align: center;
    color: #ddd;
}

.border{
    width: 100px;
    height: 10px;
    background: rgb(0, 0, 0);
    margin: 40px auto;
}

.contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
    
}

.contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: rgb(0, 0, 0);
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
    border-radius: 15px;
}

.contact-form-text:focus{
    box-shadow: 0 0 10px 4px #ff0000d7;
}

textarea.contact-form-text{
    resize: none;
    height: 120px;
}

.contact-form-btn{
    float: right;
    border: 0;
    background: #34495e;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    font-family: 'Shadows Into Light', cursive;
    font-size: medium;
}

.contact-form-btn:hover{
    background: rgba(167, 0, 0, 0.651);
}